 body {
    background: #FFECC0;
    font-family: 'Courier New', Courier, monospace;
  }

  .quote-wraper {
    position: relative;
  }

  .timer {
    position: absolute;
    top:150px;
    right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    padding: 8px 16px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }